# Project exclude paths
/cmake-build-debug/
.idea
.idea/.gitignore
*.o
 libft/obj/
 libft/.DS_Store
 *.cor
 .DS_Store
libft/.cache_exists
libft/libft.a
vm_champs
42-corewar
tests/asm/valid/*.cor
tests/asm/valid2/*.cor